In [1]:
# Tuples are like lists
# Tuples are another kind of sequence that functions much like a list
# - they have elements which are indexed starting at 0
x = ('Glenn', 'Sally','Joseph')
print(x[2])

Joseph

In [2]:
y = (1, 9, 2)
print(y)

(1, 9, 2)

In [3]:
# but... Tuples are "immutable"
# Unlike a list, onece you create a tuple, you cannot alter its contents
# similar to a string
y = 'ABC'
y[2] = 'D'

TypeError: ignored

In [4]:
z = (5,4,0)
z[2] = 9

TypeError: ignored

In [0]:
# Things not to do with Tuples
# sort, append, reverse
# Whatever order you put the tuple in, when you create it, it stays in that.

# Tuples are more efficient
# Since Python does not have to build tuple structures to be modifiable, they are
# simipler and more efficient in terms of memory use and performance than lists.
# So in our program when we are making "temporary variables" we prefer tuples over lists.

In [5]:
# Tuples and Assignment
# We can also put a tuple on the left-hand side of an assignment statement
# We can even omit the prenthese
(x, y) = (4,'fred')
print (y)

fred

In [6]:
(a,b) = (99, 98)
print(a)

99

In [7]:
# Tuples and Dictionaries
# The items() mdethod in dictionaries returns a list of (key, value) tuples
d = dict()
d['csev'] = 2
d['cwen'] = 4
for (k,v) in d.items():
  print(k,v)

csev 2
cwen 4

In [8]:
tups = d.items()
print(tups)

dict_items([('csev', 2), ('cwen', 4)])

In [9]:
# Tuples are Comparable
# The comparison operators work with tuples and other sequences.
# If the first item is equal, Python goes on to the next element, and so on, unitl
# it finds elements that differ.
(0,1,2) < (5,2,3)

True

In [10]:
('Jones', 'Sally') < ('Jones', 'Sam')

True

In [11]:
('Jones', 'Sally') < ('Adams', 'Sam')

False

In [13]:
# Sorting Lists of Tuples
# We can take advantage of the ability to sort a list of tuples to get a sorted 
# version of a dictionary
# First, we sort the dictionary by the key using the items() method and sorted() 
# function
d = {'a':10, 'b':1,'c':22}
d.items()

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [15]:
sorted(d.items())

[('a', 10), ('b', 1), ('c', 22)]

In [16]:
# We can do this even more directly using the built-in function sorted that takes a
# sequence as a parameter and returns a sorted sequence
d = {'a':10, 'b':1,'c':22}
t = sorted(d.items())
t

[('a', 10), ('b', 1), ('c', 22)]

In [18]:
for k,v in sorted(d.items()):
  print(k,v)

a 10
b 1
c 22

In [20]:
# Sort by values instead of key
# If we could construct a list of tuples of the form (value, key) we could sort
# by value
# We do this with a for loop that creates a list of tuples
c = {'a':10, 'b':1,'c':22}
tmp = list()
for k,v in c.items():
  tmp.append((v,k))
print(tmp)

[(10, 'a'), (1, 'b'), (22, 'c')]

In [22]:
tmp = sorted(tmp, reverse = True)
print(tmp)

[(22, 'c'), (10, 'a'), (1, 'b')]

In [0]:
fhand = open('romeo.txt')
counts = dict()
for line in fhand:
  words = line.split()
  for word in words:
    counts[word] = counts.get(word, 0) + 1

lst = list()
for key, val in counts.items():
  newtup = (val, key)
  lst.append(newtup)

lst = sorted(lst, reverse = True)

for val,key in lst[:10]:
  print(key, val)

In [23]:
# Even shorter version
# List comprehension creates a dynamic list.
# In this case, we make a list of reversed tuples and then sort it.
c = {'a':10, 'b': 1, 'c':22}
print(sorted([(v, k) for k,v in c.items()]))

[(1, 'b'), (10, 'a'), (22, 'c')]

In [0]:
# Write a program to read through the mbox-short.txt and figure out the distribution 
# by hour of the day for each of the messages. You can pull the hour out from the 
# 'From ' line by finding the time and then splitting the string a second time using 
# a colon.
#          From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
# Once you have accumulated the counts for each hour, print out the counts, sorted by hour as shown below.
name = input("Enter file:")
if len(name) < 1 : name = "mbox-short.txt"
handle = open(name)

counts = dict()

for line in handle:
    #if line.startswith("From "):
    if line.startswith('From '):
        time = line.split()
        time = time[5]
        time = time.split(':')
        time = time[0]
        counts [time] = counts.get(time, 0) + 1

lst = list()
for key, value in counts.items():
    newdata = (key, value)
    lst.append(newdata)

lst = sorted(lst)

for key,val in lst:
    print(key, val)